html, body {
    margin: 0;
    height: 100%;  
}

#nav{
    min-height: 30px;
    position: fixed;
    padding-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    height:15px;
    width:100%;
    line-height:15px;
    background:#4C5364;
    font-size:19px;
    top:0;
    z-index: 500;
    
}

#menu-center a:hover {
    border-bottom-width:3px !important;
}

#header {
    padding-top:50px;
/*Adjust hight of background color*/
    height: 250px;
    margin-top:-60px;
    text-align: center;
    font-size:70px;
    color: white;
    background-color: #4C5364;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

img.top {
    width: 25px;
    height: 25px;
    position: relative;
    top: -80px;
    border:2px solid white;
    border-radius: 10px;
    padding: 5px;
}
img.top:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.inner {
    max-width: 1024px;
    margin: 0 auto;
}

#about {
    background-color: #4169e1;
/*Adjust hight of background color of termainal section*/
    height: 740px;
    
}

#aboutMe {
    border-radius: 5px;
    width:750px;
    margin: 0 auto;
    text-align: left;
    padding-top: 60px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    color: #fafafa;
    font-size: 17px;
    
}

#code {
    border-radius: 5px;
    width:750px;
    margin: 0 auto;
    font-size:30px;
    background: #ccc;
/*Adjust height of terminal box*/
    height: 30px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: left;
    font-size:13.5px;
    color: #fafafa;
    
}

#console {
    width:670px;
    padding: 40px;
    height: 390px;
    margin:0 auto;
    background: #383737;
}

#dot1 {
    height: 11px;
    width: 11px;
    background-color: #FF0000;
    border-radius: 50%;
    /*Adjust height and position of dots*/
    position: relative;
    left: -33.5px;
    top: -56.3px;
}
#dot2 {
    height: 11px;
    width: 11px;
    background-color: #ffdd1a;
    border-radius: 50%;
    /*Adjust height and position of dots*/
    position: relative;
    left: 27.4px;
    top: 5.5px;
}
#dot3 {
    height: 11px;
    width: 11px;
    background-color: #00FF00;
    border-radius: 50%;
    /*Adjust height and position of dots*/
    position: relative;
    left: 48px;
    top: -5.3px;
}

span.answer {
    color:#ccc;
}
a.console {
    color: #ccc;
}

a.console:hover {
    opacity: 0.5;
}

.blink{
    animation:blinkingText 1.3s linear infinite;
}
@keyframes blinkingText{
    0% {visibility: hidden;}
    50% {visibility: hidden;}
    100%{color: #fafafa;}
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
#exp{
    /*Background color of Education-Work*/
    background-color: #efeeeb;
    height: 1600px;
    
}
#resume {
    border-radius: 2px;
    width:750px;
    margin: 0 auto;
    padding-top:15px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    font-size:17px;
    line-height: 150%;
}
.right {
    float: right; 
}
#title {
    font-size:18px;
    line-height: 30px;
}
img.icon {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius:50%;
  float: left;
  display: block;
  margin-left: -95px;
  margin-top: 5px;
  background-color: #fff;
  opacity: 0.9;
  z-index: 0;
}

img.icon:hover {
    opacity: 0.3;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.skill {
  border: 2px solid #6495ED;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 10px;
  line-height: 1.5em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

#footer{
  background: #4C5364;
  min-height: 30px;
  text-align: left;
  color: #fafafa;
  padding-top: 18px;
  font-size: 15px;
  line-height: 10px;
  font-family: 'Open Sans', sans-serif;
  top: 10px;
}

.bottom {
    color: #fafafa;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

#menu-center a{ 
    color: #fafafa;
    text-decoration: none;
    border:0 solid #FFF;
    border-bottom-width:0;
} 

.link, a.link:hover { 
    border-bottom-width:3px !important;
    color: #fafafa;
    text-decoration: none;
    border:0 solid #FFF;
    border-bottom-width:0;
}

.bottom:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
